.header-parent {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.header-parent-inactive {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.header-child {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
html {
    background-color: black;
    color: white;
}
h1 {
    font-family: "Lato", serif;
    color: #007eff;
    font-size: 32px;
    font-weight: 900;
}
h2 {
    font-family: "Lato", serif;
    color: #f0941d;
    font-size: 24px;
    font-weight: 900;
    margin: 50px 0px;
}
p, li {
    font-family: "Lato", serif;
    color: #fafafa;
    font-size: 24px;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.9vw;
}
li {
    padding: 6px 0px;
}
a {
    font-family: "Lato", serif;
    color: #f0941d;
}
.archive-link {
    color: white;
}
.bold-900 {
    font-weight: 900;
}
.underline {
    text-decoration-line: underline;
}
.loe-rohkem-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background-color: black;
    border: none;

}
.loe-rohkem-icon {
    padding-right: 6%;
    display: inline;
    height: 48px;
}
.loe-rohkem {
    font-family: "Lato", serif;
    color: #007eff;
    font-size: 24px;
    font-weight: 900;
    white-space: nowrap;
}
.welcome-screen {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
}
.horizontal-content-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.vertical-content-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.asikarikas-logo {
    max-width: 33%;
}
.lapikud-logo {
    width: 70vw;
    height: auto;
    flex-shrink: 0;
}
.asikarikas-logo-year {
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
    text-align: center;
}
.active {
    background-color: #007eff;
    color: black;
    flex: auto;
    border: none;
    margin: 0px 25px 0px 25px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    font-size: 24px;
    font-family: "Lato", serif;
    font-weight: 900;
    font-variant: normal;
    cursor: pointer;
}
.inactive {
    background-color: black;
    color: #007eff;
    flex: auto;
    border: none;
    margin: 0px 25px 0px 25px;
    padding: 10px 0px 10px 0px;
    font-size: 24px;
    font-family: "Lato", serif;
    font-weight: 900;
    font-variant: normal;
    cursor: pointer;
}
.elevator_pitch {
    font-family: "PixelifySans", sans-serif;
    font-size: 36px;
    max-width: 80%;
    letter-spacing: 4px;
    color: #007eff;
    text-align: center;
    font-weight: bold;
    font-stretch: expanded;
}

.main-parent {
    display: flex;
}
.main-parent-inactive {
    display: flex;
}
.main-child {
    flex: 1;
    padding: 2% 7% 7% 7%;
}
.active-icon {
    display: none;
}
.inactive-icon {
    display: none;
}
.mobile-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .header-parent {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: left;
    }
    .header-parent-inactive {
        display: none;
    }
    .active {
        border-radius: 0;
        display: flex;
        justify-content: left;
        margin: 0px 0px 0px 0px
    }
    .inactive {
        color: white;
        display: flex;
        justify-content: left;
        margin: 0px 0px 0px 0px
        }
    .active-icon {
        padding: 0px 20px 0px 20px;
        display: inline;
    }    
    .inactive-icon {
        padding: 0px 20px 0px 20px;
        filter: invert(100%);
        rotate: 90deg;
        display: inline;
    }
    .mobile-menu {
        display: flex;
        justify-content: end;
    }
    .mobile-menu-button-inactive {
        background-color: #007eff;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .mobile-menu-button-active {
        background-color: black;
        border: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .main-parent-inactive {
        display: none;
    }

}