.header-parent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header-child {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
html {
    background-color: black;
    color: white;
}

button.active {
    background-color: #007eff;
    color: black;
    flex: auto;
    border: none;
    margin: 0px 25px 0px 25px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    font-size: 24px;
    font-family: "Lato", serif;
    font-weight: 900;
    font-variant: normal;
    cursor: pointer;
}
button.inactive {
    background-color: black;
    color: #007eff;
    flex: auto;
    border: none;
    margin: 0px 25px 0px 25px;
    padding: 10px 0px 10px 0px;
    font-size: 24px;
    font-family: "Lato", serif;
    font-weight: 900;
    font-variant: normal;
    cursor: pointer;
}
div.main-parent {
    display: flex;
}
div.main-child {
    flex: 1;
}