.header-parent {
    display: flex;
}
.header-child {
    flex: 1;
}
html {
    background-color: black;
    color: white;
}
button.active {
    flex: 1;
    background-color: #007eff;
    color: white;
}
button.inactive {
    flex: 1;
    background-color: black;
    color: #007eff;
}
div.main-parent {
    display: flex;
}
div.main-child {
    flex: 1;
}